* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  background-color: #e9f8ff;
  padding-inline: 50px;
  color: #16425b;
}

header {
  background-color: #ffffff;
  border-radius: 40px;
  margin: 30px 50px;
  padding: 30px 50px;
  display: flex;
  flex-direction: column;
}

header h2 {
  width: fit-content;
  background-color: #d8f2ee;
  color: #205b6b;
  font-weight: 300;
  padding: 5px 20px;
  margin-bottom: 20px;
  border-radius: 25px;
  text-transform: uppercase;
}

header div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header h3 {
  color: #54758a;
  font-weight: 300;
}

main {
  height: 70vh;
  display: flex;
  flex-direction: column;
  margin-block: auto;
  justify-content: center;
  gap: 15px;
}

main h2 {
  padding-left: 25px;
}

.cardsgroup {
  display: flex;
  flex-direction: column;
}

.cardsline {
  display: flex;
  flex-direction: row;
}

.card {
  border: 1px solid black;
  border-radius: 25px;
  margin: 10px;
  padding: 10px;
  width: calc(25% - 20px);
  height: 200px;
  transition-duration: 100ms;
  display: flex;
  flex-direction: column;
  font-family: monospace;
  background-color: #fafeff;
}

.card:hover {
  transform: translateY(-2%);
  box-shadow: 0px 5px 3px #c3d2d4;
}

.cardtitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(25% - 20px);
}

.cardnumber {
  border: 1px solid #86b0c5;
  background-color: #e1f5ff;
  border-radius: 20px;
  padding: 5px 10px;
}

.icon {
  width: 20px;
  height: 20px;
  stroke: black;
  fill: black;
}

.cardtext {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-block: auto;
  padding-inline: 10px;
  gap: 20px;
}

.command {
  cursor: pointer;
  background-color: #e1f5ff;
  border-radius: 4px;
  padding: 2px 15px;
}

.description {
  color: #54758a;
  font-family: Arial, Helvetica, sans-serif;
}
