.tipsgroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.tipline {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
}

.container {
    border: 1px solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 130px;
    height: 280px;
    transition: 50ms;
}

.container:hover {
    scale: 101%;
    transform: translateY(-5%);
}

.sub {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.num {
    border: 1px solid;
    border-radius: 25px;
    font-family: monospace;
    padding: 5px 10px;
}

.icon {
    justify-self: flex-end;
    width: 25px;
    height: 25px;
}

.text {
    margin: 0px;
}

.comm {
    border: solid darksalmon 1px;
    border-radius: 5px;
    padding: 3px;
    background-color: bisque;
    font-family: monospace;
    color: #36324f;
    cursor: pointer;
    user-select: none;
    transition: opacity 0.2s ease;
}

.comm:hover {
    opacity: 0.7;
}

.desc {
    font-family: Arial, Helvetica, sans-serif;
    color: #6b6b6b;
}